<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"/>
    <link href="jumbotron.css" rel="stylesheet"/>
    <title>Notion</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="notion">Notion</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"/>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Notion assembles profound-sounding nonsense.</h1>
            <p>Searching for soothing words to mindfully anaesthetise Susan from Accounting? Your inner Plato refuses to paste one more Lorem Ipsum?
                Look no further and browse world's largest accumulation of New Age poppycock or click the <strong>Cast Your Notion</strong> button below to add your own.</p>
            <p><a class="btn btn-primary btn-lg" href="notion/add" role="button">Cast Your Notion &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div th:each="notion : ${notions}" class="col-md-4">
                <h2 th:text="${notion.title}"></h2>
                <p th:text="${notion.content}"></p>

                <div class="btn-group" role="group" aria-label="...">
                    <form action="#" th:action="@{'notion/voteup/' + ${notion.id}}" method="post">
                        <button class="btn btn-success btn-sm" type="submit" name="upvote" th:value="${notion.id}"><p th:text="${notion.likes} + ' Ommm'"></p>
                        </button></form>
                    <form action="#" th:action="@{'notion/votedown/' + ${notion.id}}" method="post">
                        <button class="btn btn-danger btn-sm" type="submit" name="downvote" th:value="${notion.id}"><p th:text="${notion.dislikes} + ' Booo'"></p>
                            </button>
                    </form>
                    <form action="#" th:action="@{'/notion/doDelete/' + ${notion.id}}" method="post">
                        <button class="btn btn-warning btn-sm" type="submit" id="delete" th:value="${notion.id}" >Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </div> <!-- /container -->

</main>
<footer class="container">
    <p>&copy; Merlin Bergmann 2018</p>
</footer>
</body>
</html>