<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Fox Club - Login</title>
</head>
<body>
<ul>
    <li><a href="">Information</a></li>
    <li><a href="">Nutrition Store</a></li>
    <li><a href="">Trick Center</a></li>
    <li><a href="">Action History</a></li>
</ul>
<h1>Welcome to the Trick Center!</h1>
<p>Your fox is a bit useless? Some education might help!</p>
<label for="foxTricks">Tricks</label>
    <select th:field="*{type}" id="foxTricks">
        <option th:each="trick : ${listOfTricks}"
                th:value="${trick}"
                th:text="#{${'seedstarter.trick.' + trick}}">Quote Shakespeare</option>
    </select>
    <input type="submit" value="Learn"/>
</form>
</body>
</html>